## Task: Data Clean

In [2]:
import pandas as pd
patients = pd.read_csv('https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/data_clean/data/patient_info.csv')

In [3]:
patients.head(5)

   Participant_ID   Sex  Age Smoking_status      BMI  Disease
0         1003300  Male   62       Previous  33.7597        2
1         1004025  Male   60       Previous  28.1173        1
2         1005551  Male   69       Previous  26.4159        2
3         1005594  Male   64       Previous  24.7550        1
4         1005624  Male   64       Previous  35.0773        2

In [4]:
len(patients)

2218

### clean patient list

In [5]:
# Participant_ID should have 7 digits
patients.query('Participant_ID < 1000000 or Participant_ID > 9999999')

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [6]:
# check if Participant_IDs are unique
patients['Participant_ID'].value_counts()

Participant_ID
1744690    2
4211238    2
4407509    1
4395297    1
4395496    1
          ..
2752465    1
2743884    1
2742130    1
2740723    1
6020094    1
Name: count, Length: 2216, dtype: int64

In [7]:
# Patients must state their sex
patients[patients['Sex'].isna()]

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [8]:
# Sex should only be male or female
patients['Sex'].value_counts()

Sex
Male      1581
Female     637
Name: count, dtype: int64

In [9]:
# Patients must have an age
patients[patients['Age'].isna()]

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [10]:
# Patients must be at least 40 years old
patients.query('Age < 40')

     Participant_ID   Sex  Age Smoking_status    BMI  Disease
742         2766416  Male    6          Never  32.13        2

In [11]:
# Patients should have a realistic maximum age
patients['Age'].max()

70

In [12]:
# Patients should have a BMI
patients[patients['BMI'].isna()]

      Participant_ID     Sex  Age Smoking_status  BMI  Disease
93           1257234    Male   69       Previous  NaN        1
263          1636077    Male   53       Previous  NaN        2
369          1904228  Female   53       Previous  NaN        2
803          2879103    Male   66       Previous  NaN        2
828          2935866    Male   61          Never  NaN        2
958          3238984    Male   60        Current  NaN        1
1001         3334466    Male   65       Previous  NaN        2
1052         3446745    Male   53       Previous  NaN        2
1055         3451474  Female   58       Previous  NaN        1
1060         3460152  Female   68       Previous  NaN        2
1069         3477024    Male   51       Previous  NaN        2
1141         3677437    Male   68       Previous  NaN        2
1262         3932031  Female   58        Current  NaN        2
1356         4149035  Female   59          Never  NaN        2
1442         4336118    Male   68          Never  NaN        2
1793         5065581    Male   50       Previous  NaN        2
1967         5431119    Male   48        Current  NaN        2
2132         5807548    Male   60          Never  NaN        1
2191         5969224    Male   67       Previous  NaN        2

In [13]:
# BMI should be between 15 and 60
patients.query('BMI < 15 or BMI > 60')

      Participant_ID   Sex  Age Smoking_status       BMI  Disease
305          1744690  Male   63       Previous  -31.4133        2
1391         4211238  Male   68       Previous  100.3570        1

In [14]:
# Patients should state a smoking status
patients[patients['Smoking_status'].isna()]

      Participant_ID     Sex  Age Smoking_status      BMI  Disease
1255         3919665  Female   67            NaN  25.0331        2
1340         4113188    Male   67            NaN  29.0688        2
1826         5135454    Male   53            NaN  36.1323        2

In [15]:
# smoking status should be either 'Never', 'Previous', 'Current' or 'Prefer not to answer'
patients['Smoking_status'].value_counts()

Smoking_status
Previous                1006
Never                    850
Current                  350
Prefer not to answer       9
Name: count, dtype: int64

In [16]:
# patients should state whether they are healthy
patients[patients['Disease'].isna()]

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [17]:
# Disease must either be '1' or '2'
patients['Disease'].value_counts()

Disease
2    1652
1     566
Name: count, dtype: int64

In [18]:
# check patient entries with duplicate IDs
patients.query('Participant_ID == 1744690')

     Participant_ID   Sex  Age Smoking_status      BMI  Disease
305         1744690  Male   63       Previous -31.4133        2
306         1744690  Male   63       Previous  31.4133        2

In [19]:
patients.query('Participant_ID == 4211238')

      Participant_ID   Sex  Age Smoking_status       BMI  Disease
1391         4211238  Male   68       Previous  100.3570        1
1392         4211238  Male   68       Previous   27.2904        2

In [20]:
# duplicate IDs seem to be data corrections, therefore the wrong ones can be deleted
patients.drop(patients[patients['BMI'] < 15].index, inplace = True)
patients.query('Participant_ID == 1744690')

     Participant_ID   Sex  Age Smoking_status      BMI  Disease
306         1744690  Male   63       Previous  31.4133        2

In [21]:
patients.drop(patients[patients['BMI'] > 60].index, inplace = True)
patients.query('Participant_ID == 4211238')

      Participant_ID   Sex  Age Smoking_status      BMI  Disease
1392         4211238  Male   68       Previous  27.2904        2

In [22]:
patients['Participant_ID'].value_counts()

Participant_ID
1003300    1
4398763    1
4394433    1
4394470    1
4395297    1
          ..
2743884    1
2742130    1
2740723    1
2740411    1
6020094    1
Name: count, Length: 2216, dtype: int64

In [23]:
len(patients)

2216

In [24]:
# delete the patient who is younger than 40
patients.drop(patients[patients['Participant_ID'] == 2766416].index, inplace = True)

In [25]:
len(patients)

2215

In [26]:
# delete patients without smoking status
patients.drop(patients[patients['Smoking_status'].isna()].index, inplace = True)

In [27]:
len(patients)

2212

In [28]:
# update missing BMI
male_mean_bmi = patients.query('Sex == "Male"')['BMI'].mean()
male_patients = patients.query('Sex == "Male"')
male_bmi_na = male_patients['BMI'].isna()
male_patients.loc[male_bmi_na, 'BMI'] = male_mean_bmi
male_patients[male_patients['BMI'].isna()]

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [29]:
female_mean_bmi = patients.query('Sex == "Female"')['BMI'].mean()
female_patients = patients.query('Sex == "Female"')
female_bmi_na = female_patients['BMI'].isna()
female_patients.loc[female_bmi_na, 'BMI'] = female_mean_bmi
female_patients[female_patients['BMI'].isna()]

Empty DataFrame
Columns: [Participant_ID, Sex, Age, Smoking_status, BMI, Disease]
Index: []

In [30]:
# reunite male and female datasets
patients2 = pd.merge(female_patients, male_patients, how='outer')
patients2

      Participant_ID     Sex  Age Smoking_status      BMI  Disease
0            1008540  Female   64       Previous  21.6764        2
1            1033353  Female   67       Previous  24.1795        2
2            1039893  Female   61          Never  23.7645        1
3            1044192  Female   44          Never  28.9634        1
4            1102214  Female   65          Never  25.1919        2
...              ...     ...  ...            ...      ...      ...
2207         5999249    Male   47          Never  32.2740        2
2208         6006712    Male   64          Never  29.1140        2
2209         6009769    Male   48       Previous  39.3345        2
2210         6011693    Male   62       Previous  30.8813        2
2211         6019982    Male   54          Never  25.3287        2

[2212 rows x 6 columns]

In [31]:
len(patients2)

2212

### clean hospital visit list

In [32]:
hospital_visits = pd.read_csv('https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/data_clean/data/date.csv')
hospital_visits.head(5)

   Participant_ID   VisitDate
0         1003300    1/7/2022
1         1003300  27/10/2021
2         1004025  19/05/2010
3         1005551  25/08/2021
4         1005551  29/06/2021

In [33]:
len(hospital_visits)

2891

In [34]:
# Participant_ID should have 7 digits
hospital_visits.query('Participant_ID < 1000000 or Participant_ID > 9999999')

Empty DataFrame
Columns: [Participant_ID, VisitDate]
Index: []

In [35]:
# check data type of date column
hospital_visits['VisitDate'].dtype

dtype('O')

In [36]:
# convert to datetime
hospital_visits['VisitDateTime'] = pd.to_datetime(hospital_visits['VisitDate'],format='%d/%m/%Y')

In [37]:
# check if visits are between 1950 and 2023
hospital_visits['VisitYear'] = hospital_visits['VisitDateTime'].dt.year
hospital_visits.query('VisitYear < 1950 or VisitYear > 2023')

     Participant_ID   VisitDate VisitDateTime  VisitYear
124         1275182    8/1/1700    1700-01-08     1700.0
202         1394711  13/01/2025    2025-01-13     2025.0

In [38]:
hospital_visits.drop(hospital_visits[hospital_visits['VisitYear'] < 1950].index, inplace = True)
hospital_visits.drop(hospital_visits[hospital_visits['VisitYear'] > 2023].index, inplace = True)
len(hospital_visits)

2889

In [39]:
# check if hospital visits could lie before a person's birth date (age >= 40)
hospital_visits['VisitYear'].min()

1996.0

In [40]:
visit_counts = hospital_visits['Participant_ID'].value_counts()

# converting to df and assigning new names to the columns
visits = pd.DataFrame(visit_counts)
visits = visits.reset_index()
visits.columns = ['Participant_ID', 'Visit_No'] # change column names
visits

      Participant_ID  Visit_No
0            4957784        17
1            3203261        14
2            1667100        13
3            5537260         9
4            2905566         9
...              ...       ...
2210         3297501         1
2211         1601325         1
2212         3291770         1
2213         3289338         1
2214         3591380         1

[2215 rows x 2 columns]

### merge patients and hospital visits

In [41]:
patients_visits = pd.merge(patients2, visits, how='left', on='Participant_ID')
len(patients_visits)

2212

In [42]:
patients_visits.head(5)

   Participant_ID     Sex  Age Smoking_status      BMI  Disease  Visit_No
0         1008540  Female   64       Previous  21.6764        2       1.0
1         1033353  Female   67       Previous  24.1795        2       3.0
2         1039893  Female   61          Never  23.7645        1       1.0
3         1044192  Female   44          Never  28.9634        1       1.0
4         1102214  Female   65          Never  25.1919        2       1.0

In [43]:
patients_visits[patients_visits['Visit_No'].isna()]

     Participant_ID   Sex  Age Smoking_status      BMI  Disease  Visit_No
709         1275182  Male   61          Never  26.9638        2       NaN

In [44]:
visit_na = patients_visits['Visit_No'].isna()
patients_visits.loc[visit_na, 'Visit_No'] = 0
patients_visits.query('Participant_ID == 1275182')

     Participant_ID   Sex  Age Smoking_status      BMI  Disease  Visit_No
709         1275182  Male   61          Never  26.9638        2       0.0

In [46]:
patients_visits.to_csv(path_or_buf='patients_visits.csv', index=False)